.wrapper {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    min-width: 120px;
    padding: 2px 4px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    background-color: transparent;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 6px;
}

// types
.rounded {
    border-radius: 999px;
    border-color: #dce0e3;

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    background-color: var(--primary-color-bold);
    color: var(--white-color);
    border-color: var(--primary-color-bold);

    &:hover {
        background-color: var(--primary-color-bold);
        color: var(--white-color);
    }
}

.outline {
    color: var(--primary-color-bold);
    border: 2px solid var(--primary-color-bold);

    &:hover {
        background-color: rgba(154, 44, 85, 0.06);
        color: var(--primary-color-bold);
        border: 2px solid var(--primary-color-bold);
    }
}

.text {
    color: var(--primary-color-bold);

    &:hover {
        text-decoration: underline;
    }
}

// Size
.large {
    min-width: 280px;
    padding: 10px 0;
}

.medium {
    min-width: 190px;
    padding: 11px 0;
}

.small {
    min-width: 54px;
}
